.allServices{
  &_gradient{
    background: -webkit-linear-gradient(10.28deg, #FAB984 0%, #FF498A 99.79%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &_bg{
    background-image: url('../../../../public/services/bgRomb.svg');
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }
}