.hero{
  margin-top: -100vh;
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */

  // &_shadow{
  //   position: absolute;
  //   top: calc(100vh - 80px);
  //   left: 0px;
  //   height: 80px;
  //   width: 100%;
  //   // background: -webkit-linear-gradient(transparent, black);
  //   background: linear-gradient(rgba(2,0,36,0) 0%, rgba(0,0,0,1) 100%);
  // }

  &_activeWord{
    background: -webkit-linear-gradient(10.28deg, #FAB984 0%, #FF498A 99.79%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &_mouse{
    height: 32px; 
    width: 22px;
    position: absolute;
    top: calc( 100vh - 128px );
    cursor: pointer;
  }

  &_revealText{
    overflow: hidden;
    
    animation: revealText 0.5s ease-out;
    animation-fill-mode: forwards;
    // transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);  
  }
}

.hero:after{
  content  : "";
  position : absolute;
  z-index  : 1;
  bottom   : 0;
  left     : 0;
  pointer-events   : none;
  background-image : linear-gradient(rgba(255,255,255,0) 80%, rgba(0,0,0,1) 100%);
  width    : 100%;
  height   : 100vh;
}

@keyframes revealText {
  0%{
    max-height: 0px;
  }
  100%{
    max-height: 500px;
  }
}

.canvas{
  height: 100vh;
  width: 100%;
}

@media only screen and (min-width: 640px) {
  .hero{
    &_mouse{
      top: calc( 100vh - 76px );
    }
  }
}

@media only screen and (min-width: 1280px) {
  .hero{
    &_mouse{
      top: calc( 100vh - 96px )
    }
  }
}