.hero {
  margin-top: -100vh;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  &_activeWord {
    display: inline-block;
    background: -webkit-linear-gradient(10.28deg, #fab984 0%, #ff498a 99.79%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &_mouse {
    height: 32px;
    width: 22px;
    position: absolute;
    top: calc(100vh - 160px);
    cursor: pointer;
  }

  &_revealText {
    overflow: hidden;

    animation: revealText 0.5s ease-out;
    animation-fill-mode: forwards;
  }

  &_canvas{
    touch-action: auto;
  }
}

.hero:after{
  content  : "";
  position : absolute;
  z-index  : 1;
  bottom   : 0;
  left     : 0;
  pointer-events   : none;
  background-image : linear-gradient(rgba(255,255,255,0) 80%, rgba(0,0,0,1) 100%);
  width    : 100%;
  height   : 100vh;
  touch-action: auto;
}

@keyframes revealText {
  0% {
    max-height: 0px;
  }
  100% {
    max-height: 500px;
  }
}

@media only screen and (min-width: 640px) {
  .hero {
    &_mouse {
      top: calc(100vh - 76px);
    }
  }
}

@media only screen and (min-width: 1280px) {
  .hero {
    &_mouse {
      top: calc(100vh - 96px);
    }
  }
}
