.services{
  &_bg{
    background-image: url('../../../../public/services/liraBgRomb.jpg');
    background-position: 50% bottom;
    background-repeat: no-repeat;
    background-size: 200% auto;
  }
}