/* ./styles/globals.css */
/* @tailwind base;
@tailwind components;
@tailwind utilities; */

@font-face {
  font-family: "TangoSans";
  src: url("/fonts/Tango Sans/TangoSansBold.ttf");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins/Poppins-Regular.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins/Poppins-Medium.ttf");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins/Poppins-Bold.ttf");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat/Montserrat-Regular.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat/Montserrat-Medium.ttf");
  font-style: medium;
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat/Montserrat-Bold.ttf");
  font-style: bold;
  font-weight: 700;
  font-display: swap;
}

.bg404{
  background-image: radial-gradient(circle farthest-corner at 50% 50%, #070509, #121212 85%)
}

.gradientButton{
  background: -webkit-linear-gradient(276.21deg, #FA2A74 0%, #FAB984 99.12%);
}

html{
  scroll-behavior: smooth;
}

.col-span-2{
  grid-column: span 2 / span 2;
}

.col-span-3{
  grid-column: span 3 / span 3;
}

.col-span-4{
  grid-column: span 4 / span 4;
}

.col-span-6{
  grid-column: span 6 / span 6;
}